Repository dddseoul/dddseoul.github.io, pull requests merged in 2024-10, with the labels that each got.

#13 Add newsletter template for survey
  templates/newsletter-survey.html
  templates/newsletter-survey.md
Labels: newsletter

#14 Refactor md2html script
  scripts/md2html.ps1
  scripts/md2html.sh
Labels: enhancement

#12 Update sponsorship page
  src/DDDSeoul/input/index.md
  src/DDDSeoul/input/sponsorship.md
  src/DDDSeoul/theme/input/_navbar.cshtml
  src/DDDSeoul/theme/input/images/sponsors/microsoft.png
  src/DDDSeoul/theme/input/vendor/startbootstrap-clean-blog/scss/components/_buttons.scss
  src/DDDSeoul/theme/input/vendor/startbootstrap-clean-blog/scss/sections/_post.scss
Labels: website

#9 Add newsletter template for CFP
  templates/newsletter-cfp.html
  templates/newsletter-cfp.md
Labels: newsletter
